     <%- include('../partials/header.ejs')%>
    <div class="  contenitore py-5 px-5">
    <form class="ui form" method="POST" action="/contact" id="sendEmailMito">
      
     
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" id="name" name="name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" id="lastname" name="lastname">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Company" id="company" name="company">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="city" id="city" name="city">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="province" name="provincia" id="provincia">
          </div>
          
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="postcode" id="postcode" name="postcode">
          </div>
          <div class="col">
           
            <select class="form-control required" id="exampleFormControlSelect1" id="state" name="state">
              <option value="">select your state</option>
              <% for(var sta of stati) {%>
                <option value=<%=sta.name %>><%=sta.name %></option>

                <%}%>
              
            </select>
          </div>
          
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="email" class="form-control" placeholder="email" name="email" >
          </div>
          
          
        </div>
        <div class="row mt-2">
   
          <div class="col">
            <input type="phone"  id="phone"  name="phoneField"  class="form-control" placeholder="insert you number phone"/>
          </div>
          
          
        </div>
        <div class="row mt-2">
         
        <select id="choose"  multiple="multiple" name="scelta" class="required">
          
          <option value="About Company">About Company</option>
          <option value="Coffe">Product/Coffe</option>
          <option value="Gelato">Products/Gelato</option>
          <option value="Chocolate">Products/Chocolate</option>
          <option value="DeliCake">Products/DeliCake</option>
          <option value="Franchising">Franchising</option>
      </select>
        </div>
        <div class="row mt-2">
          <div class="col ">
           <textarea class="form-control" placeholder="write here your request" id="message"></textarea>
          </div>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I agree <a href="#">terms & conditions.</a> </label>
        </div>
     
        <div class=" mt-4">

          <button type="submit" id="inviaEmail" class="btn btn-dark" tabindex="0">Send</button>
        </div>
      </form>
      
      
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha512-wcMFq37GBTOH2NCdFpdhOHqMJlBKFzpNQFmK3WW6G2JK0D99zKF2IsyO9YhWGI8JE6LlWe9wyjj+Cz5B1AoO8w==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="/javascript/intlTelInput.js"></script>
<script>
   $(document).ready(function() {

 
    $("#phone").intlTelInput({
        //autoFormat: false,
        //autoHideDialCode: false,
        //defaultCountry: "jp",
        //nationalMode: true,
        //numberType: "MOBILE",
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        //preferredCountries: ['cn', 'jp'],
        //responsiveDropdown: true,
        utilsScript: "/javascript/utils.js"
      });
    $('#choose').multiselect({
      class:'required'
    });

    $('#sendEmailMito').validate({

      rules: {
      
      name: "required",
      lastname: "required",
      company:"required",
      city:"required",
      
      phoneField:"required",
      provincia:"required",
      postcode:"required",
   
      email: {
        required: true,
        
        email: true
      }
     
    },
   
    messages: {
      name: "Please enter your firstname",
      lastname: "Please enter your lastname",
      company :"Please enter your Name",
      city:"Please enter your city name",
      scelta:"please choose one ",
      provincia:"Please enter your province name",
      state:"Please enter your your state",
      postcode:"please enter your postcode",
      phoneField:"please enter your number phone",
      email: "Please enter a valid email address"
    },

    submitHandler: function(form) {
      let acconsentoPrivacy = !$("#exampleCheck1").is(':checked');
     if(acconsentoPrivacy) {
      $.alert({
        title: 'Sorry!',
        content: 'you must first consent to the processing of your personal data, click on the nick above the button',
      });
      return;
    }
     var data = {
       name: $("#name").val(),
       lastname :$("#lastname").val(),
       company :$("#company").val(),
       city :$("#city").val(),
       scelta:$("#choose").val(),
       provincia:$("#provincia").val(),
       postcode : $("#postcode").val(),
       state:$('#state').val(),
       email:$('#email').val(),
       message:$("#message").val()

     }
      $.ajax({
        method:'POST',
        url:'/contact',
        contentType:'application/json',
        data:JSON.stringify(data)
      })
}
});
  // $("#inviaEmail").click(function(){
  //   let acconsentoPrivacy = !$("#exampleCheck1").is(':checked');
  //   if(acconsentoPrivacy) {
  //     $.alert({
  //       title: 'Sorry!',
  //       content: 'you must first consent to the processing of your personal data, click on the nick above the button',
  //     });
  //     return;
  //   }
  //    var data = {
  //      name: $("#name").val(),
  //      lastname :$("#lastname").val(),
  //      company :$("#company").val(),
  //      city :$("#city").val(),
  //      scelta:$("#choose").val(),
  //      provincia:$("#provincia").val(),
  //      postcode : $("#postcode").val(),
  //      state:$('#state').val(),
  //      email:$('#email').val(),
  //      message:$("#message").val()

  //    }
  //     $.ajax({
  //       method:'POST',
  //       url:'/contact',
  //       contentType:'application/json',
  //       data:JSON.stringify(data)
  //     })

  //   })
 

});
</script>
</html>