<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" integrity="sha512-EvvoSMXERW4Pe9LjDN9XDzHd66p8Z49gcrB7LCUplh0GcEHiV816gXGwIhir6PJiwl0ew8GFM2QaIg2TW02B9A==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    
    <title>Form Contatti Mitofood</title>

</head>
<body>
    <div class="  contenitore py-5 px-5">
    <form class="ui form" method="POST" action="/contact">
      
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Company">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="city">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="province">
          </div>
          
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="postocode">
          </div>
          <div class="col">
           
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="0">select State</option>
              <% for(var sta of stati) {%>
                <option value="0"><%=sta.name %></option>

                <%}%>
              
            </select>
          </div>
          
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="email" class="form-control" placeholder="email">
          </div>
          
          
        </div>
        <div class="row mt-2">
          <div class="col-3">
          <input type="number" class="form-control" placeholder="prefix number phone"/></div>
          <div class="col">
            <input type="phone"  id="mobile-number"  name="phoneField"  class="form-control" placeholder="insert you number phone"/>
          </div>
          
          
        </div>
        <div class="row mt-2">
         
        <select id="example-getting-started"  multiple="multiple">
          <option selected>choose</option>
          <option value="About Company">About Company</option>
          <option value="Coffe">Product/Coffe</option>
          <option value="Gelato">Products/Gelato</option>
          <option value="Chocolate">Products/Chocolate</option>
          <option value="DeliCake">Products/DeliCake</option>
          <option value="Franchising">Franchising</option>
      </select>
        </div>
        <div class="row mt-2">
          <div class="col ">
           <textarea class="form-control" placeholder="write here your request"></textarea>
          </div>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I agree <a href="#">terms & conditions.</a> </label>
        </div>
     
        <div class=" mt-4">

          <button class="btn btn-dark" tabindex="0">Send</button>
        </div>
      </form>
      
      </form>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha512-wcMFq37GBTOH2NCdFpdhOHqMJlBKFzpNQFmK3WW6G2JK0D99zKF2IsyO9YhWGI8JE6LlWe9wyjj+Cz5B1AoO8w==" crossorigin="anonymous"></script>
<script>
   $(document).ready(function() {
     
    $('#example-getting-started').multiselect({
       
    });
   });
</script>
</html>